/** CSS complet **/

h1,h2,h3,p,a{
    font-family:trebuchet, helvetica, sans-serif;
}

/** Disposition tailles et fond des différentes zonnes **/
body{
    margin: 0% 0%;
    background-image: url(../images/background.png);
    background-position: right top;
    background-size: auto 100%;
    background-attachment:fixed;
    width: 100%;
}

h1{
    margin: 0;
    padding: 70px
}
header{
    display: block;
    width: 100%;
    margin-left: 100px;
    margin-bottom: 40px;
    background-color: rgba(130,130,150,0.8);
    font-size: 30px;
    color: rgba(930,930,950);
}

nav{
    position: fixed;
    top: 0;
    width: 100px;
    background-color: #456399;
    height: 100%;
    transition-duration: 0.7s;
}
nav>div{
    margin-top: 200px
}
nav>div>a>span{
    color: aliceblue;
    margin-left: 35px;
    height: 70px;
    margin-bottom: 30px;
    visibility: hidden;
    font-weight: 700;
}

nav>div>a>img{
    color: aliceblue;
    margin-top: 0px;
    margin-left: 15px;
    height: 70px
}
nav:hover{
    width: 237px;
    transition: 0.7s;
    background-color: #3c5686;
}
.secselect{
    background-color: red;
}
main{
    width: 60%;
    margin-left: 26%;
    padding: 50px;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    background-color: white;
}
p {
    font-size: 18px;
    text-align: justify;
}