/** CSS complet **/

h1,h2,h3,p,a{
    font-family:trebuchet, helvetica, sans-serif;
}

/** Disposition tailles et fond des différentes zonnes **/
body{
    margin: 0% 0%;
    background-image: url(../images/background2.png);
    background-position: right top;
    background-size: auto 100%;
    background-attachment:fixed;
    width: 100%;
}

h1{
    margin: 0;
    padding: 40px
}
header{
    display: block;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
    background-color: rgba(130,130,150,0.6);
    font-size: 25px;
    color: rgba(930,930,950);
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #456399;
    height: 80px;
}
nav>div{
    margin-top: 15px;
    margin-left: 50px;
}
nav>div>a>span{
    color: aliceblue;
    margin-left: 35px;
    height: 70px;
    margin-bottom: 30px;
    font-weight: 700;
}
nav>div>a>img{
    color: aliceblue;
    height: 50px;
    margin-left: 30px;
}
.first_nav{
    margin-left: 0px;
}
.navPC{
    display: none
}
main{
    //width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    background-color: white;
}
p {
    font-size: 18px;
    text-align: justify;
}
.retour{
    display: none
}