body{
    margin: 0% 0% 0% 0%;
    background-image: url(../documents/background2.png);
    background-position: right top;
    background-size: auto 100%;
    background-attachment:fixed;
    width: 100%;
}

h1{
    margin: 0;
}
a{
    text-decoration:none; 
    font-weight: bold;
}
header{
    display: block;
    margin-bottom: 40px;
    font-size: 25px;
    color: rgba(930,930,950);
}

p{
    font-size: 18px;
    text-align: justify;
}

main{
    padding: 50px;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    background-color: white;
}

#skills tr td:first-child div{
    padding: 15px;
    box-shadow: 0px 0px 10px black;
    border-bottom-color: black;
    border-radius: 50px;
}

footer p{
    margin: 10px 0 0 0;
    padding: 10px;
    color: white;
    font-weight: bold;
}

@media (min-width: 900px) and (min-aspect-ratio: 4/5){
    h1{
        padding: 70px
    }
    header, footer{
        width: 100%-70px;
        margin-left: 70px;
        background-color: rgba(130,130,150,0.6);
        font-size: 25px;
        color: rgba(930,930,950);
    }
    
    nav{
        position: fixed;
        top: 0;
        width: 70px;
        background-color: #456399;
        height: 100%;
        transition-duration: 0.7s;
    }
    nav>div{
        margin-top: 200px
    }
    nav>div>a>span{
        color: aliceblue;
        margin-left: 35px;
        height: 70px;
        margin-bottom: 30px;
        visibility: hidden;
        font-weight: 700;
    }
    .navPhone{
        display: none;
    }
    nav>div>a>img{
        color: aliceblue;
        margin-top: 0px;
        margin-left: 12px;
        height: 50px
    }
    nav:hover{
        width: 200px;
        transition: 0.7s;
        background-color: #3c5686;
    }
    main{
        width: 60%;
        margin-left: 20%;
    }
    #skills td{
        text-align: center;
        padding: 20px 5px;
    }
}

@media (max-height: 700px){
    h1{
        padding: 20px
    }
    nav>div{
        margin-top: 100px
    }
}

@media (max-width: 889px), all (max-aspect-ratio: 4/5){
    h1{
        padding: 40px 100px;
        background-color: red
    }
    header, footer{
        width: 100%;
        background-color: rgba(160,160,180);
    }
    
    #menu-icon {
		position: absolute;
        top: 45px;
        left: 40px
	}
    nav ul, nav:active ul { 
            display: none;
            position: absolute;
            padding: 20px;
            background: #456399;
            border: 5px solid #222;
            left: 20px;
            top: 60px;
            width: 250px;
            border-radius: 0px 10px 10px 10px;
    }
    nav li {
            list-style-type: none;
            text-align: center;
            width: 100%;
            padding: 10px 0;
            margin: 0;
    }
    nav:hover ul {
            display: block;
    }
    .navPC{
        display: none
    }
    
    main{
        width: 80%;
        margin-left: 5%;
    }

    #skills td{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    #skills tr{
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 40px;
    }
}